@font-face {
  font-family: 'Brandon';
  src: url('../font/Brandon_med.otf');
}

header {
  text-align: center;
  background: url("../MYWEBSITE/nyc.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
header a {
  text-transform: uppercase;
  letter-spacing: 5px;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Brandon';
  font-size: 16px;
  text-align: center;
}
div#main {
  max-width: 100%;
  height: 100%;
  padding: 180px 0px;
  text-align: center;
  margin: 0 auto;
  /*background: white;*/
  box-sizing: border-box;
}
div.contact {
  background: url("../MYWEBSITE/contactbg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
div.social img {
  padding: 0px 20px;
}
h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
h2 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 25px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
p {
  font-size: 16px;
  color: #777;
}
a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}
a:hover {
  opacity: 1.0;
}
blockquote {
  color: #777;
  background-color: #151515;
  display: block;
  padding: 20px;
  border-radius: 20px;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, .5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
img.profile {
  margin: 40px;
  border: none;
  height: 150px;
  border-radius: 150px;
}
input {
  width: 300px;
  border: 0;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}
input[type="message"] {
  vertical-align: top;
  outline:none;
  padding-bottom: 100px;
  word-break: break-word;
}
a img {
  opacity: 0.7;
  padding: 10px3
  margin: 0px 10px;
}
a img:hover {
  opacity: 1.0;
}
button {
  padding: 10px;
  opacity: 0.7;
  background: #fff;
  font: 'Roboto';
  font-size: 15px;
  color: #000;
  border: none;
}
button:hover {
  opacity: 1.0;
}
article {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  li {
  display: block;
  padding: 0px 10px 0px 10px;
  }
}
