@font-face {
font-family: 'Quicksand';
font-style: normal;
font-weight: 300;
src: url('../fonts/Quicksand-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
}

html, body {
	color: white;
	background-image: url('../imgs/minionbg.gif');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}

.overlay {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	height: 100%;
	background: black;
	opacity: .5;
	color: white;
}

#welcome-form {
	padding-top: 20%;
}

.overlay > div > h1 {
	padding-bottom: 25px;
}

.overlay > div > input {
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
	border: none;
	opacity: .75;
}

.overlay > #enter-players {
	padding: 5px 10px;
	margin: 10px;
	border-radius: 5px;
	border: none;
}

input[type="submit"]{ -webkit-appearance: none; }

.game {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {
	font-size: 3rem;
}

#player-turn, #message {
	font-size: 1.2rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	padding: 0;
}

#player-turn {
	font-size: 2rem;
	padding-top: 2rem;
}

.container {
  background: #ffff32; /* yellow bg */
	border-radius: 2rem;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  padding: 10px;
	opacity: .5;
	box-shadow: 0 0 25px grey;
}

.col {
  float: left;
  width: 14.287%;
  padding: 0;
  margin: 0 auto;
}

.col > div {
  background: white;
  border-radius: 100px;
  display: inline-block;
  width: 12vw;
  height: 12vw;
  padding: 0;
  margin: 5px;
  text-align: center;
  float: left;
  border: none;
	box-shadow: inset 3px 3px 25px #999;
}

@media (min-width: 640px) {

  .game {
    max-width: 640px;
  }

  .container {
    width: 100%;
  }

  .col > div {
    max-width: 76.6719px;
    max-height: 76.6719px;
  }

}
